APP_ENV=docker
APP_HOST=0.0.0.0
APP_PORT=28000
FRONTEND_PORT=25173
TZ=Asia/Shanghai

POSTGRES_DB=smart_home
POSTGRES_USER=smart_home
POSTGRES_PASSWORD=smart_home
POSTGRES_PORT=15432
DATABASE_URL=postgresql+psycopg://smart_home:smart_home@postgres:5432/smart_home

REDIS_PORT=16379
REDIS_URL=redis://redis:6379/0
CONNECTION_ENCRYPTION_SECRET=change-this-in-real-env
HOME_ASSISTANT_PORT=28123
HOME_ASSISTANT_BOOTSTRAP_ENABLED=true
HOME_ASSISTANT_BOOTSTRAP_URL=http://homeassistant:8123
HOME_ASSISTANT_BOOTSTRAP_ACCESS_TOKEN=
HOME_ASSISTANT_BOOTSTRAP_CONNECTION_MODE=TOKEN
CAPABILITY_ENERGY_ENABLED=true
CAPABILITY_EDITOR_ENABLED=true
WEATHER_LOCATION_LABEL=赤峰红山区
WEATHER_HOME_ASSISTANT_ENTITY_ID=weather.forecast_wo_de_jia
WEATHER_LATITUDE=42.26298161148389
WEATHER_LONGITUDE=118.94726859100243
ENERGY_AUTO_REFRESH_ENABLED=true
ENERGY_AUTO_REFRESH_HOUR=7
ENERGY_AUTO_REFRESH_MINUTE=30
ENERGY_AUTO_REFRESH_TIMEZONE=Asia/Shanghai
